.swish__main {
    position: absolute;
    left: 0;
    top: 110vh;

    width: 100vw;
    height: 110vh;

    background-image: url(/images/swishbg.png);
    background-size: 100vw 110vh;
    background-repeat: no-repeat;
}

.swish__wrapper {
    position: absolute;
    left: 0;
    top: 0;

    width: 100vw;
    height: 100vh;
}

.swish__number {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-weight: bold;
    font-size: 100px;

    width: 100vw;
    color: #314b40;

    text-anchor: middle;
    alignment-baseline: middle;

    overflow: visible;
}

.swish__number div {
    margin: 0 50px;
}

.swish__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 10vh;

    position: absolute;
    left: 0;
    top: -120vh;

    box-sizing: border-box;
}

.swish_top_element {
    font-size: 60px;
    font-weight: 600;

    width: 8vw;

    opacity: 0.6;
    color: #314b40;

    text-anchor: middle;
    alignment-baseline: middle;
}
