.container {
    position: absolute;
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    margin: 0;
    padding: 0;

    overflow: hidden;
    top: -100%;

    background-image: url(/images/banner2.jpg);
    background-size: 100vw 110vh;
    background-repeat: no-repeat;
}
