<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Lappis - Swish1</title>
        <link rel="stylesheet" href="../css/global.css">
        <link rel="stylesheet" href="./style.css">

        <script src="../js/gsap.min.js"></script>
        <script src="../js/animation.js"></script>
        <script defer src="./script.js"></script>
    </head>
    <body>
        <div class="swish__main">
            <div class="swish__wrapper">
                <div class="swish__sliding">
                    <div class="swish__sliding__section swish__sliding__top">
                        <div class="swish__sliding__row swish__sliding__top_top">
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                        </div>
                        <div class="swish__sliding__row swish__sliding__top_bottom">
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                        </div>
                    </div>
                    <div class="swish__sliding__section swish__sliding__bottom">
                        <div class="swish__sliding__row swish__sliding__bottom_top">
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                        </div>
                        <div class="swish__sliding__row swish__sliding__bottom_bottom">
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                            <div class="swish__sliding__text">Swish</div>
                        </div>
                    </div>
                </div>

                <div class="swish__number">123 456 78 90</div>

                <div class="swish__top">
                    <div class="swish_top_element">Swish</div>
                    <div class="swish_top_element">Swish</div>
                </div>
            </div>
        </div>
    </body>
</html>