.namnskylt__main {
    position: absolute;
    left: 0;
    top: -100vh;

    width: 100vw;
    height: 100vh;

    background: var(--c-orange);

    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    top: 12.5%;
    width: 28vw;
    opacity: 0.25;
    transform: translateY(-50%);
}

.bubble--left {
    left: calc(-6vw + 10px);
}

.bubble--right {
    right: calc(-6vw + 10px);
}

.namnskylt__main__name {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;

    font-size: 10vh;
    font-weight: 900;

    text-align: center;
    text-transform: uppercase;

    color: white;
}
