:root {
    --c-orange: #f87a00;
    --c-dark: #2c2c2c;
}

:root,
body,
#__next {
    display: flex;
    overflow: hidden;

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: transparent;

    font-family: 'Alright Sans', sans-serif;
}
