:root {
    /*--primary: #279B61;*/
    /*--secondary: #136C40;*/

    --primary: #1F7A4D;
    --secondary: #0B4126;

    --primary-bg: #D1FAE5;


    --text-primary: hsl(0, 60%, 50%);
    --text-secondary: hsl(0, 90%, 30%);
}

body {
    display: flex;
    overflow: hidden;

    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;

    background-color: transparent;

    font-family: 'Alright Sans', sans-serif;
    /* font-family: 'Baloo 2'; */
    /* font-weight: bold; */
}